:root {
    --success-color: #5bc47e;
    --danger-color: #f30f0f;
    --primary-color: #2b3e55;
    --secondary-color: rgb(105, 122, 151);
    --offwhite-color: #eff2f7;
    --secondary-offwhite-color: #FAFAFA;
    --text-color: #152B4B;
    --border-color: #D1D1D1;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: white;
    overflow-y: hidden;
    font-family:Larsseit,Lato,Arial;
}

body > header {
    padding: 1em;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

main {
    position: relative;
    flex: 1;
    overflow-y: hidden;
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-title > h1 {
    color: white;
    font-size: 20px;
    padding: 0;
    padding-left: 20px;
    margin: 0;
    font-variant: small-caps;
}

.header-title-image {
    width: 28px;
    height: 100%;
}

nav  {
    border-bottom: 2px solid var(--border-color);
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.5em;
}

nav > button {
    border: 0;
    padding: 0.5em;
    width: 128px;
    background-color: white;
    outline: none;
}

nav > button:hover {
    cursor: pointer;
}

.nav-selected {
    border-bottom: 4px solid rgb(91,196,126);
    font-weight: bold;
}

#estop-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 3px;
    background-color: #F30F0F;
    width: 118px;
    height: 48px;
    font-size: 22px;
    padding: 13px;
}

#estop-button:hover {
    box-shadow: 0 0 5px white;
}

#app-launcher-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 1em;
    border: 1px solid white;
    border-radius: 3px;
    background-color: var(--primary-color);
}

#app-launcher-button > span:first-child {
    padding-right: 0.25rem;
}

#app-launcher-button:hover {
    background-color: var(--secondary-color);
}

#estop-button > span:first-child {
    padding-right: 0.25rem;
}

.v_layout {
    display: flex;
    flex-direction: column;
}

.h_layout {
    display: flex;
    flex-direction: row;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms ease-in-out;
    background-color:rgba(22,35,56,.8);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.modal-container > header {
    flex: 1 1 100%;
}

.modal-container > header{
    flex: 0 1 auto;
    background-color: var(--offwhite-color);
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 4px 4px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-container > header > h3 {
    color: var(--text-color);
    font-size: 1.5rem !important;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.modal-container > header > * {
    flex: 1 1 100%;
}

.modal-container > div {
    padding: 0px 15px 10px;
    flex: 1 1 100%;
    overflow-y: auto;
}

.modal-container > footer {
    flex: 0 1 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content-panel {
    border: 1px solid var(--border-color);
    background-color: white;
    border-radius: 2px;
    margin: 1em;
    flex: 1 1 100%;

    display: flex;
    flex-direction: column;
}

#schema-list {
    display: block;
    height: auto;
    text-align: left;
    list-style-type: none;
    padding: 0.5rem;
    overflow-y: auto;
}

#schema-list > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    background-color: #f3f3f3;
    padding: 0.5rem;
}

#schema-list > li > button {
    color: var(--primary-color);
    border-color: var(--primary-color);
    text-decoration: none;
    outline: inherit;
    border: none;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#schema-list > li > button:hover {
    cursor: pointer;
    border-bottom: 1px solid;
}

.schema-item-editor-list {
    padding-left: 1rem;
    list-style-type: none;
}

.schema-item-editor-list > li {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
}

/*
    WIDGETS
*/
.widget-wrapper {
    display: flex;
    flex-direction: column;
}

.widget-wrapper.inline {
    flex-direction: row;
    align-items: center;
}

.widget-wrapper > label {
    font-weight: bold;
    color: rgb(28, 52, 79);
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0;
    padding-right: 0.25rem;
    font-weight: 700;
}

.widget-textbox > input {
    outline: none;
    font-size: 0.8rem;
    height: 2rem;
    width: 100%;
    padding: 0.9rem;
    border: 1px solid rgb(45, 58, 77);
    border-radius: 3px;
    background-color: white;
    box-sizing: border-box;
}

.widget-select {
    position: relative;
    height: 2rem;
    float: left;
    font-size: 0.9rem;
    color: rgb(28, 52, 79);
}

.widget-select > select {
    appearance: none;
    height: inherit;
    display: block;
    background-color: white;
    width: 100%;
    float: right;
    padding: 0px 1.5rem 0px 0.5rem;
    border: 1px solid rgb(45, 58, 77);
    border-radius: 0.15rem;
}

.widget-select::after {
    content: "";
    font-size: 0.7rem;
    font-family: "Font Awesome 5 Pro";
    right: 11px;
    height: inherit;
    padding: 0px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
}

.widget-load-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.widget-load-overlay-blurred {
    filter: blur(1px);
}

.widget-error {
    font-size: 0.8rem;
    color: red;
}