@import "../../../master.scss";


.Summary {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;

    .LeftSide {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;

        .Container {
            width: 100%;
            height: 100%;
            @include flex-center();

            .Cell {
                width: 90%;
                height: 90%;
                display: grid;
                grid-template-rows: 20% 80%;
                border-radius: $border-radius;
                border: $container-border;

                .Title {
                    display: grid;
                    grid-template-columns: 70% 30%;
                    background-color: $light-blue;
                    border-radius: $border-radius $border-radius 0 0;

                    .Left {
                        @include flex-center();
                        justify-content: flex-start;
                        font-size: $large-font;
                        font-weight: $bold-font;

                        span {
                            padding-left: $margin * 2;
                        }
                    }

                    .Right {
                        @include flex-center();
                        cursor: pointer;
                        font-size: $large-font;
                        color: $dark-blue;
                    }

                    .Right:hover {
                        span {
                            text-decoration: underline;
                        }
                    }
                }

                .Content {
                    @include flex-center();
                    font-size: $large-font;

                    //justify-content: flex-start;

                    span {
                        // padding-left: $margin * 2;
                    }
                }
            }
        }
    }

    .RightSide {
        @include flex-center();
        height: 100%;
        width: 100%;

        .DisplayContainer {
            height: 96%;
            width: 97%;
            @include flex-center();
            border: $container-border;
            border-radius: $border-radius;
            background-color: $desert-storm;
            margin: $margin;

            img {
                height: 90%;
                width: auto;
            }
        }
    }

}