 @import "../../css/TeachMode.scss";

 .ForceHome {
     height: 100%;
     width: 100%;
     display: grid;
     grid-template-rows: 15% 60% 15%;
     grid-template-columns: 100%;

     .SkipButton {
	 @include flex-center();
	 height: 100%;
	 width: 100%;
	 
     }

     .Description {
	 @include flex-center();
	 width: 100%;
	 height: 100%;
	 span {
	     font-size: $large-font;
	 }
     }

     .HomeButtons {
	 width: 100%;
	 height: 100%;
	 @include flex-center();
	 flex-direction: column;
	 justify-content: space-between;
	 
	 .HomeButton {
	     @include button-style();
	     width: 60%;
	     height: 15%;
	 }
	 .HomeButton:hover {
	     @include button-hover();
	     span {
		  font-size: $large-font;
	      }

	 }
	
     }
 }

 .Jogger {
     height: 100%;
     width: 100%;
     display: grid;
     grid-template-rows: 10% 70% 20%;
     grid-template-columns: 100%;


     .Name {
         display: grid;
         grid-template-columns: 30% 70%;

         .NamePrompt {
             @include flex-center();
             font-size: $large-font;
             font-weight: $bold-font;
             justify-content: flex-end;
             padding-right: $margin;
         }

         .NameInput {
             @include flex-center();
             justify-content: flex-start;

             input {
                 width: 70%;
                 font-size: $large-font;
                 padding: $margin;
                 color: $dark-blue;

             }

         }
     }

     .Controls {
         display: grid;
         grid-template-columns: 12% 76% 12%;
         grid-template-rows: 100%;

         .Position {
             display: grid;
             grid-template-rows: 25%;
             padding-left: $margin * 2;

             .PositionBox {
                 border: $container-border;
                 border-radius: $border-radius;
                 display: grid;
                 grid-template-rows: 25% 25% 25% 25%;
                 padding-left: $margin;

                 .PositionValue {
                     @include flex-center();
                     justify-content: flex-start;
                     color: $dark-blue;
                 }
             }
         }

         .Move {
             display: grid;
             grid-template-rows: 15% 70% 15%;
             $mover-size: 300pt;

             .A {
                 cursor: pointer;
                 @include flex-center();

                 .Display {
                     width: $mover-size;
                     @include flex-center();

                     svg {
                         #ArrowLine {
                             stroke: $medium-blue;
                         }

                         #ArrowText {
                             fill: none;
                         }
                     }
                 }
             }

             .A:hover {
                 .Display {
                     svg {
                         #ArrowLine {
                             stroke: $green;
                         }

                         #ArrowText {
                             fill: $green;
                         }
                     }
                 }
             }

             .Mover {
                 @include flex-center();

                 .MoverGrid {
                     width: $mover-size;
                     height: $mover-size;
                     display: grid;
                     grid-template-rows: 33% 33% 33%;
                     grid-template-columns: 33% 33% 33%;


                     .Select {
                         @include flex-center();
                         @include grid-coordinate(2, 2);

                         .SelectButton {
                             cursor: pointer;
                             $s-height: $mover-size * 1/3 * 6/10;
                             width: $mover-size * 1/3 * 9/10;
                             height: $s-height;
                             background-color: $medium-blue;
                             color: white;
                             @include flex-center();
                             border-radius: $s-height / 2;
                             font-size: $large-font;
                             font-weight: $bold-font;

                             span {
                                 @include unselectable();
                             }
                         }

                         .SelectButton:hover {
                             background-color: $green;
                         }
                     }

                     .Up {
                         @include flex-center();
                         @include grid-coordinate(1, 2);
                         @include polygon();
                     }

                     .Down {
                         @include flex-center();
                         @include grid-coordinate(3, 2);
                         @include polygon();
                     }

                     .Left {
                         @include flex-center();
                         @include grid-coordinate(2, 1);
                         @include polygon();
                     }

                     .Right {
                         @include flex-center();
                         @include grid-coordinate(2, 3);
                         @include polygon();
                     }

                     .Rotate {
                         @include flex-center();
                         @include grid-coordinate(1, 3);
                         cursor: pointer;

                         img {
                             height: 50%;
                             width: auto;
                         }
                     }

                 }
             }
         }
     }

     .Parameters {
         display: grid;
         grid-template-rows: 100%;
         grid-template-columns: 50% 50%;

         .Parameter {
             display: grid;
             grid-template-columns: 100%;
             grid-template-rows: 30% 70%;

             .Name {
                 @include flex-center();
                 align-items: flex-end;

                 span {
                     font-size: $medium-font;
                     font-weight: $bold-font;
                     @include unselectable();
                 }

                 .Units {
                     //  padding-left: $margin;
                     font-weight: $normal-font;
                 }
             }
         }

         .ParameterInput {
             @include flex-center();
             padding-top: $margin;
             align-items: flex-start;

             input {
                 width: 30%;
                 font-size: $medium-font;
                 padding: $margin;
                 text-align: center;
             }
         }
     }
 }
