@import "../../../master.scss";
@import "../../css/TeachMode.scss";

.Layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;

    .Boxes {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 15% 85%;

        .Name {
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 20% 80%;
            color: $dark-blue;

            .Title {
                @include flex-center();
                justify-content: flex-end;

                span {
                    font-size: $large-font;
                    font-weight: $bold-font;
                }
            }

            .Input {
                @include flex-center();
                justify-content: flex-start;
                padding-left: $margin;

                input {
                    padding: $margin;
                    font-size: $large-font;
                    width: 80%;
                }
            }
        }

        .BoxContainer {
            width: 100%;
            @include flex-center();
            max-height: 600px;

            .Scroll {
                width: 100%;
                height: 100%;
                @include flex-center();
                flex-direction: column;
                justify-content: flex-start;

                .BoxContainer {
                    @include flex-center();
                    width: 100%;
                    height: 120px;
                    padding-top: $margin;

                    .Box {
                        cursor: pointer;
                        width: 80%;
                        display: grid;
                        grid-template-rows: 100%;
                        grid-template-columns: 30% 55% 15%;
                        height: 100%;
                        border-radius: $border-radius;
                        border: $container-border;
                        background-color: $desert-storm;

                        .Rotate {
                            @include flex-center();

                            svg {
                                stroke: $medium-blue;

                                polygon {
                                    stroke-width: 0;
                                }

                                path {
                                    stroke: $medium-blue;
                                    stroke-width: 3;
                                }

                                fill: $medium-blue;

                                rect {
                                    stroke: $medium-blue;
                                    stroke-width: 3;
                                }

                            }
                        }

                        .Rotate:hover {
                            svg {
                                stroke: $green;
                                fill: $green;

                                path {
                                    stroke: $green;
                                    stroke-width: 4;
                                }


                                rect {
                                    stroke: $green;
                                    stroke-width: 4;
                                }

                                polygon {
                                    stroke-width: 0;
                                }

                            }

                        }


                        .MiniRender {
                            @include flex-center();
                            height: 100%;
                            width: 100%;

                            .BoxMount {
                                height: 100%;
                                width: 100%;
                                @include flex-center();

                                canvas {
                                    height: 100%;
                                    width: 100%;
                                }
                            }
                        }

                        .BoxInfo {
                            display: grid;
                            grid-template-rows: 40% 60%;
                            grid-template-columns: 100%;

                            .Name {
                                @include flex-center();
                                justify-content: flex-start;
                                align-items: flex-end;
                                font-size: $large-font;
                                font-weight: $bold-font;
                                color: $dark-blue;
                            }

                            .Dimensions {
                                @include flex-center();
                                justify-content: flex-start;
                                align-items: flex-start;
                                padding-top: $margin;

                                .DimensionsGrid {
                                    width: 90%;
                                    height: 80%;
                                    display: grid;
                                    grid-template-rows: 100%;
                                    grid-template-columns: 33% 33% 33%;
                                    border-radius: $border-radius;
                                    border: $container-border;

                                    .Dimension {
                                        @include flex-center();
                                        font-size: $medium-font;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .LayoutView {
        height: 100%;
        width: 100%;
        @include flex-center();

        .LayoutContainer {
            border-radius: $border-radius;
            border: $container-border;
            background-color: $light-blue;
            width: 95%;
            height: 95%;
            display: grid;
            grid-template-rows: 10% 90%;
            grid-template-columns: 100%;

            .Pallet {
                @include flex-center();
            }

            .PalletSelect {
                display: grid;
                grid-template-columns: 40% 60%;

                .LayoutButtons {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-rows: 100%;
                    grid-template-columns: 50% 50%;

                    .AutoLayoutButton {
                        @include flex-center();
                        width: 100%;
                        height: 100%;

                        .AutoButton {
                            @include button-style();
                            width: 90%;
                            height: 70%;

                            span {
                                font-size: $large-font;
                                font-weight: $normal-font;
                            }
                        }

                        .AutoButton:hover {
                            @include button-hover();
                        }
                    }

                    .DeleteBox {
                        @include flex-center();
                        width: 100%;
                        height: 100%;

                        .DeleteBoxButton {
                            @include flex-center();
                            cursor: pointer;
                            width: 90%;
                            height: 70%;
                            background-color: $medium-blue;
                            border-radius: $border-radius;
                            color: white;
                            font-size: $large-font;
                            //font-weight: $bold-font;
                        }

                        .DeleteBoxButton:hover {
                            @include shadow();
                            background-color: $red;
                        }
                    }
                }

                .PalletDropDown {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: 40% 60%;

                    .Title {
                        @include flex-center();
                        font-size: $large-font;
                        font-weight: $bold-font;
                        justify-content: flex-end;
                        padding-right: $margin;
                    }

                    .Drop {
                        @include flex-center();
                        justify-content: flex-start;
                        width: 100%;

                        select {
                            padding: $margin;
                            width: 98%;
                            font-size: $large-font;
                            color: $dark-blue;
                            @include select-style();
                            font-size: $large-font;
                        }
                    }
                }
            }
        }
    }
}


.LayoutContainer {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 70%;

    // Left Side : Box Scroll;
    .LayoutName {
        @include stretch-grid-col(1, 1, 2);
        @include flex-center();
        border-bottom: $container-border;

        .NameHolder {
            @include flex-center();
            width: 70%;
            flex-direction: column;
            justify-content: flex-start;
            @include jin-style(50%, 1.5em);

            input {
                //margin-top: 30%;
                padding: $margin;
                @include shadow();
            }
        }
    }

    .BoxScrollContainer {
        height: 100%;
        width: 100%;
        @include flex-center();

        .BoxScroll {
            margin: 1%;
            width: 98%;
            height: 96%;
            max-height: $container-height * 7.3/10;
            overflow: scroll;

            .BoxCellContainer {
                padding: 1%;
                width: 98%;
                padding-top: 2%;
                height: $container-height / 9;
                @include flex-center();

                .BoxCell {
                    cursor: pointer;
                    width: 96%;
                    height: 100%;
                    border: $container-border;
                    border-radius: $border-radius;
                    @include size-shadow(5pt);
                    justify-content: flex-start;
                    display: grid;
                    grid-template-rows: 100%;
                    grid-template-columns: 30% 70%;

                    .BoxImage {
                        @include flex-center();
                    }

                    .Rotate {}

                    .BoxDetails {
                        display: grid;
                        grid-template-rows: 50% 50%;
                        grid-template-columns: 100%;

                        .BoxName {
                            @include flex-center();
                            justify-content: flex-start;
                            align-items: flex-end;

                            span {
                                font-size: 2em;
                            }
                        }

                        .BoxDimensions {
                            display: grid;
                            grid-template-rows: 100%;
                            grid-template-columns: 33% 33% 33%;

                            .DimensionCell {
                                @include flex-center();
                                justify-content: flex-start;
                                align-items: flex-start;

                                span {
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }
            }
        }

        // ::-webkit-scrollbar {
        //     width: 0px;
        //     background: transparent;
        // }

    }

    .LayoutModel {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 10% auto;
        grid-template-columns: 100%;

        .LayoutDropDown {
            width: 100%;
            @include flex-center();

            select {
                padding: $margin;
                width: 50%;
                font-size: 1.5em;
                background-color: $light-grey;
                color: $dark-blue;
            }
        }

        .LayoutDisplay {
            width: 100%;
            @include flex-center();
        }
    }
}



.AutoLayout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;

    .GenerateButton {
        @include flex-center();
        height: 100%;
        width: 100%;

        .Button {
            @include button-style();
            width: 40%;
            height: 40%;

            span {
                font-size: $large-font;

            }

        }

        .Button:hover {
            @include button-hover();
        }
    }


    .ParamSelect {
        @include flex-center;
        width: 100%;
        height: 100%;

        .ParamCell {
            width: 40%;
            height: 40%;
            display: grid;
            grid-template-columns: 20% 80%;
            grid-template-rows: 100%;

            .Title {
                @include flex-center();
                justify-content: flex-end;

                span {
                    font-size: $large-font;
                    font-weight: $bold-font;
                }
            }

            .DropDown {
                @include flex-center();


                select {
                    width: 90%;
                    height: 70%;
                    font-size: $large-font;
                }
            }
        }
    }
}