@import "../../../master.scss";
@import "../../css/TeachMode.scss";


.Drives {
    width: 100%;
    height: 100%;
    @include flex-center();

    .DriveScrollContainer {
        height: 100%;
        width: 100%;

        .DriveScroll {
            margin: 1%;
            width: 98%;
            height: 96%;
            max-height: $container-height * 8/10;
            overflow: scroll;

            .DriveCellContainer {
                padding-top: 1%;
                padding-left: 1%;
                width: 99%;
                height: $container-height / 7;
                display: grid;
                grid-template-rows: 100%;
                grid-template-columns: 96% 4%;

                .Trash {
                    @include flex-center();

                    span {
                        cursor: pointer;
                        font-size: $large-font;
                        color: $red;
                    }

                    span:hover {
                        font-weight: $bold-font;
                    }
                }

                .DriveCell {
                    cursor: pointer;
                    width: 99%;
                    height: 100%;
                    border: $container-border;
                    border-radius: $border-radius;
                    background-color: $desert-storm;
                    justify-content: flex-start;
                    display: grid;
                    grid-template-rows: 100%;
                    grid-template-columns: 12% 30% 38% 20%;


                }
            }
        }
    }
}


.Configure {
    height: 100%;
    width: 99%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;

    .DriveContainer {
        width: 100%;
        height: 100%;
        @include flex-center();
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        overflow-x: hidden;

        .DriveConfigCell {
            height: 20%;
            width: 100%;
            @include flex-center();

            .NewDriveCell {

                @include flex-center();
                align-self: flex-start;
                width: 89%;
                padding-top: 2%;
                justify-content: flex-end;

                .AddButton {
                    cursor: pointer;
                    width: 30%;
                    @include flex-center();

                    span {
                        font-size: $large-font;
                        padding-left: $margin;
                    }

                    img {
                        height: 100%;
                        widht: auto;
                    }
                }

                .AddButton:hover {
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .DisplayContainer {
        width: 100%;
        height: 100%;
        @include flex-center();


        .Display {
            border: $container-border;
            border-radius: $border-radius;
            background-color: $desert-storm;
            width: 99%;
            height: 100%;
            @include flex-center();

            img {

                width: 95%;
                height: auto;
            }



        }

    }


}