@import '../../master.scss';

.Footer {
    padding: $double-margin;
    color: $dark-blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    span {
        color: $light-grey;
    }
}