@import "../../master.scss";

$modal-background : rgba(22, 35, 56, 0.8);
// $modal-background: rgba(255,255,255,0.8);

@mixin editor-button() {
    @include flex-center();
    width: 50%;
    background-color: $container-blue;
    cursor: pointer;
}

$name-height: 300pt;

.Modal {
    position: fixed;
    background: $modal-background;
    left: 0;
    top: $top-height; // This approximately works for the height -- will need to change header + nav for this to work perfectly.
    width: 100%;
    height: 100%;
    overflow: auto;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;

    .Unlock {
        @include shadow();
        margin-top: $name-height;
        margin-bottom: auto;
        background-color: $off-white;
        color: $dark-blue;
        border-radius: $border-radius;
        // border-radius: $border-radius;
        display: grid;
        width: 20%;
        height: 17%;
        grid-template-columns: 100%;
        grid-template-rows: 30% 30% 30%;

        // grid-row-gap: $double-margin;
        .UnlockItem {
            @include flex-center();
            height: 100%;
            width: 100%;
        }

        #UnlockTitle {
            font-size: $large-font;
            font-weight: $bold-font;
        }

        @mixin button-style() {

            border-radius: $border-radius;
            font-size: 1em;
            width: 74%;
            height: 74%;
            cursor: pointer;
            @include flex-center();

            span {
                color: $off-white;
            }
        }

        .UnlockButton {
            @include button-style();
            background-color: $medium-blue;
            //            background-color: $green;

            span {
                font-size: $large-font;
                // font-weight: $bold-font;
                color: $dark-blue;
                color: white;
            }

            // padding: $margin;
            // padding: $double-margin;
        }

        .UnlockButton:hover {
            @include shadow();
            background-color: $green;
        }

        .UnlockButtonLocked {
            @include button-style();
            background-color: $light-grey;

            span {
                font-size: $large-font;
                // font-weight: $bold-font;
                color: $dark-blue;
                color: white;
            }
        }


        input {
            border-radius: $border-radius;
            color: $dark-blue;
            border: $container-border;
            font-size: $large-font;
            width: 73.5%;
            padding-top: $margin;
            padding-bottom: $margin;
            text-align: center;
            //  background-color: $off-white;

            // width: 100%;
            //padding: $margin;
        }

    }


    .ModalContent {
        @include shadow();
        display: flex;
        align-content: center;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: $quad-margin;
        margin-bottom: auto;
        width: 50%;

        #EditorTitle {
            color: white;
            letter-spacing: 1pt;
            font-size: $medium-font;
            padding: $margin;
            background-color: $container-blue;
            border-radius: $border-radius $border-radius 0 0;
            border: $container-border;
        }

        .ace_editor,
        .ace_editor div {
            font-family: monospace;
        }

        #AceEditor {
            font-family: monospace !important;
            font-size: 16px !important;
            direction: ltr !important;
            text-align: left !important;
            border-left: $container-border;
            border-right: $container-border;

            span {

                font-family: monospace !important;
                font-size: 16px !important;
                direction: ltr !important;
                text-align: left !important;
            }
        }

        .EditorFooter {
            display: flex;
            align-content: center;
            justify-content: space-around;
            border: $container-border;
            border-radius: 0 0 $border-radius $border-radius;

            .SaveEditor {
                @include editor-button();
                border-radius: 0 0 $border-radius 0;

                span {
                    padding: $margin;
                    color: white;
                }

            }

            .CloseEditor {
                @include editor-button();
                border-radius: 0 0 0 $border-radius;

                span {
                    padding: $margin;
                    color: white;
                }
            }

            .SaveEditor:hover {
                background-color: $off-white;

                span {
                    color: $green;
                }
            }

            .CloseEditor:hover {
                background-color: $off-white;

                span {
                    color: red;
                }
            }
        }

    }
}