@import "../../master.scss";



.Visualizer {
    height: 100%;
    width: 100%;
    background-color: white;
    border-bottom: $container-border;

    canvas {
        height: 100%;
        // width: 100%;
    }
}