@import '../../master.scss';

$add-height: 20%;
$scroll-height: 100% - $add-height;

.ConfigContainer {
    height: 100%;
    padding: $double-margin;
    display: grid;
    grid-template-rows:auto;
    grid-template-columns: auto auto;
    grid-column-gap: $double-margin;
    .ConfigGrid {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows:  $scroll-height $add-height;
        grid-template-columns: 100%;
        .ConfigScroll {
            @include grid-coordinate(1,1);
            display: flex;
            min-height: 50vh;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            padding-left: $double-margin;
            padding-right: $double-margin;
            paddding-top: $double-margin;
            margin-top: $double-margin;
            padding-bottom: $margin;
            overflow-y: auto;
            .ConfigCell {
                width: 95%;
                border: $container-border;
                border-radius: $border-radius;
                padding: $double-margin;
                margin-bottom: $margin;
                background-color: $off-white;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                span {
                    font-weight: $bold-font;
                }
                .EditConfigButton {
                    @include flex-center();
                    padding-left: $margin;
                    text-decoration: underline;
                    cursor: pointer;
                    span {
                        font-weight: $normal-font;
                    }
                }
                .DeleteConfigButton {
                    @include flex-center();
                    color:red;
                    align-self: flex-end;
                    margin-left: auto;
                    cursor: pointer;
                    span {
                        font-weight: $normal-font;
                    }
                    #button-text {
                        text-decoration: underline;
                        padding-left: $margin;
                    }
                }
            }
        }
        .ConfigAdd {
            @include grid-coordinate(2,1);
            @include flex-center();
            .AddConfigButton {
                background-color: $medium-blue;
                color:white;
                border-radius: $border-radius;
                padding: $double-margin;
                cursor: pointer;
            }
            .AddConfigButton:hover {
                @include shadow();
            }
        }
    }
}


