@import '../../master.scss';


$top-height: 60%;
// $bottom-height: 100% - $top-height;
$bottom-height: 100% - $top-height;


@mixin stop-grid-explosion() {
    min-width: 0;
    min-height: 0;
}

// Create a grid to hold everthing
.GeneralGrid {
    display: grid;
    @include stop-grid-explosion();
    grid-template-rows: $top-height $bottom-height;
    grid-template-columns: 100%;
    grid-row-gap: $double-margin;
    padding: $double-margin;
    .SystemContainer {
        // @include flex-center();
        @include stop-grid-explosion();
        @include grid-coordinate(1,1); 
        // width: 50%;
        .SystemGrid {
            @include grid-coordinate(2,1); 
            @include stop-grid-explosion();
            display: grid;
            grid-template-columns: 66% 34%;
            grid-template-rows: 40% 60%;
            .StatusBar {
                @include grid-coordinate(1,1); 
                display: grid;
                grid-template-rows: 100%;
                grid-template-columns: 25% 25% 25% 25%;
                .StatusItem {
                    height: 100%;
                    width: 100%;
                    @include flex-center();
                    flex-direction: column;
                    span {
                        font-size: $medium-font;
                        letter-spacing: 1.0pt;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    .StatusValue {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: $bold-font;
                        font-size: $large-font;
                        padding-top: $margin;
                    }
                }
            }

            .Visualizer {
                @include stretch-grid(1,2,2,2);
                canvas {
                }
            }

            $ex-t: 25%;
            $ex-b: 100% - (2 * $ex-t);
            
            .ExecuteGrid {
                border-top: $container-border;
                @include grid-coordinate(2,1);
                display: grid;
                grid-template-columns: 66% 34%;
                grid-template-rows: 50% 50%;
                @mixin input-stizz() {
                    padding-left: $margin;
                    padding-right: $margin;
                    @include flex-center();
                    justify-content: space-around;
                }
                @mixin title-style(){
                    @include flex-center();
                    span {
                        font-size: $medium-font;
                        overflow: hidden;
                        text-align: center;
                    }
                }

                .ConfigCell {
                    display: grid;
                    grid-template-rows: 100%;
                    grid-template-columns: 30% 70%;
                    .ConfigTitle {
                        @include grid-coordinate(1,1);
                        padding: 0;
                        @include title-style();
                        height: 100%;
                    }
                    .BoxStartTitle {
                        @include grid-coordinate(1,1);
                        @include title-style();
                        height: 100%;
                        padding: 0;
                    }
                    .ConfigItem {
                        @include grid-coordinate(1,2);
                        @include flex-center;
                        height: 100%;
                        padding: 0;
                        padding-right: $double-margin;
                        padding-left: $double-margin;
                    }

                    .BoxStartItem {
                        @include grid-coordinate(1,2);
                        @include flex-center;
                        height: 100%;
                        padding: 0;
                        padding-right: $double-margin;
                        padding-left: $double-margin;
                    }
                    input {
                        border-radius: $border-radius;
                        color: $dark-blue;
                        border: $container-border;
                        font-size: 1em;
                        width: 100%;
                        padding: $margin;
                    }
                    select {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none; 
                        border-radius: $border;
                        border: $container-border;
                        color: $dark-blue;
                        font-size: 1em;
                        width: 100%;
                        padding: $margin;
                    }
                }


                @mixin button-stizz() {
                    @include flex-center();
                    .ButtonContainer {
                        @include flex-center();
                        flex-direction: column;
                        border-radius: $border-radius;
                        width: 70%;
                        height: 70%;
                        cursor: pointer;
                        color: white;
                        span {
                            font-size: $huge-font;
                        }
                        #button-text {
                            padding-top: $margin;
                            font-size: $normal-font-size;
                            font-size: $large-font;
                        }
                    }
                    .ButtonContainer:hover {
                        @include shadow();
                    }
                }

                .ButtonGrid {
                    @include stretch-grid(1,2,2,2);
                    display: grid;
                    grid-template-rows:100%;
                    grid-template-columns: 50% 50%;
                    .StartButton {
                        @include grid-coordinate(1,1);
                        @include button-stizz();
                        height: 100%;
                        .ButtonContainer {
                            background-color: $green;
                        }
                    }
                    .StopButton {
                        @include grid-coordinate(1,2);
                        @include button-stizz();
                        height: 100%;
                        .ButtonContainer {
                            background-color: $medium-blue;
                        }
                    }
                }
            }
        }
    }

    .InformationContainer {
        @include grid-coordinate(2,1);
        .ErrorLogContainer {
            width: 100%;
            overflow-y: auto;
            max-height: 30vh;
            .ErrorLog {
                display: flex; 
                justify-content: space-between;
                border-bottom: $container-border;
                padding: $double-margin;
                align-items: center;
                .ErrorLogDate {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    span {
                        text-align: left;
                        padding-bottom: $margin;
                    }
                    #DateString {
                        font-weight: $bold-font;
                        padding-bottom: 0;
                    }
                }

                .ErrorDismiss {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}








