@import '../../master.scss';

// Fix the structure here at some point... -- Should be divided into side by size stacks.
// Left stack and right stack.
// Then fille these up with the upper and lower containers.
// This allows for control of symmetry and positioning.


$left-width: 50%;
$right-width: 100% - $left-width;
$top-height: 50%;
$bottom-height: 100% - $top-height;


// Create a grid to hold everthing
.GridContainer {
    width: 100%;
    height: 100%;
    min-height: 70vh;
    display: grid;
    grid-template-rows: $top-height $bottom-height;
    grid-template-columns: $left-width $right-width;
}


.TopLeft {
    @include grid-coordinate(1,1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $margin;
    canvas {
        padding: $margin;
    }
    .ImageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 90%;
            height: auto;
        }
    }
}


.TopRight {
    @include grid-coordinate(1,2);
}


.Status {
    width: 100%;
    height: 100%;
    // margin-top: $margin;
    // padding: $margin;
    border-radius: $border-radius;
    border: $container-border; 
    // width: 70%; 
}

.BottomLeft {
    @include grid-coordinate(2,1);
}

.BottomRight {
    @include grid-coordinate(2,2);
    
}


// 4 grid coordinates for state bar.

@mixin span-style() {
    span {
        font-size: $medium-font;
        letter-spacing: 1.5pt;
        overflow: hidden;
        white-space: nowrap;
    }
}

@mixin status-stye() {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $double-margin;
    .StatusValue {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: $bold-font;
        font-size: $large-font;
        padding-top: $double-margin;
    }
}

.StatusBlock {
    // height: 100%;
    @include grid-coordinate(2,1);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    .StatusGrid {
        width: 100%;
        // background-color: red;
        height: 100%;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;

        .TopL {
            @include grid-coordinate(1,1);
            @include span-style();
            @include status-stye();
            
        }
        .TopR {
            @include grid-coordinate(1,2);
            @include span-style();
            @include status-stye();

        }

        .BotL {
            @include grid-coordinate(2,1);
            @include span-style();
            @include status-stye();
            
        }

        .BotR {
            @include grid-coordinate(2,2);
            @include span-style();
            @include status-stye();
            
        }
        
    }


    
    .StatusItem {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $double-margin;
        span {
            font-size: $medium-font;
            letter-spacing: 1.5pt;
            overflow: hidden;
            white-space: nowrap;
        }
        .StatusValue {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: $bold-font;
            font-size: $large-font;
            padding-top: $double-margin;
        }
    }
}



@mixin exec-col() {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    #SelectCellTitle {
        // font-weight: $bold-font;
        font-size: $medium-font;
        letter-spacing: 1.5pt;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        // padding-bottom: $margin * 2;
    }
    input {
        border-radius: $border-radius;
        color: $dark-blue;
        border: $container-border;
        font-size: 1em;
        width: 35%;
        padding:$margin;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; 
        border-radius: $border;
        border: $container-border;
        color: $dark-blue;
        font-size: 1em;
        width: 80%;
        padding: $margin;
        // margin: $margin;
    }
}

.ExecuteGrid {

    @include grid-coordinate(2,1);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 33% 33%;

    .ControlButton {
        border-radius: $border-radius;
        display:flex;
        flex-direction: column;
        padding-top: $double-margin;
        padding-bottom: $double-margin;
        // padding-left: $margin;
        // padding-right: $margin;
        align-items: center;
        justify-content: center;
        background-color: $medium-blue;
        color: white;
        width: 70%;
        cursor: pointer;
        span {
            font-size: $huge-font;
        }
        #button-text {
            padding-top: $margin;
            font-size: $normal-font-size;
        }
    }
    .ControlButton:hover {
        @include shadow();
    }
    .ControlButton.start{
        background-color: $green;
    }
    .ELeft {
        @include grid-coordinate(1,1);
        @include exec-col();
    }
    .EMid {
        @include grid-coordinate(1,2);
        @include exec-col();
        
    }
    .ERight {
        @include grid-coordinate(1,3);
        @include exec-col();
        
    }

    .SelectCell {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: $margin * 2;
        padding-bottom: $margin * 2;
    }
}


.ErrorLogContainer {
    width: 100%;
    overflow-y: auto;
    // max-height: inherit;
    max-height: 46vh;
    .ErrorLog {
        display: flex; 
        justify-content: space-between;
        border-bottom: $container-border;
        padding: $double-margin;
        align-items: center;
        .ErrorLogDate {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            span {
                text-align: left;
                padding-bottom: $margin;
            }
            #DateString {
                font-weight: $bold-font;
                padding-bottom: 0;
            }
        }

        .ErrorDismiss {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}



