@import '../../master.scss';


$left-width: 30%;
$middle-width: 40%;
$right-width: 30%;


@mixin button-style() {
    @include flex-center();
    width: 50%;
    height: 60%;
    border-radius: $border-radius;
    border: $border;
    font-size: $medium-font;
    cursor: pointer;

}

.HeaderGrid {
    width: 100%;
    height: $header-height;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: $left-width $middle-width $right-width;
    background-color: $dark-blue;
    background: $blue-gradient;
    color: white;

    .HeaderItem {
        @include flex-center();
        flex-direction: column;
        padding-left: $margin * 2;
        padding-right: $margin * 2;

        .BackButton {
            @include button-style();
            align-self: flex-start;

            #button-text {
                padding-left: $margin;
            }
        }

        .BackButton:hover {
            @include shadow();
        }

        .HeaderLogo {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;

            img {
                height: auto;
                width: 30pt;
                padding-right: $margin;
            }

            #title {
                font-size: 2em;
            }
        }

        .StopButton {
            @include button-style();
            @include flex-center();
            align-self: flex-end;

            svg {
                padding-right: $margin;
            }

            background-color: $red;
        }

        .StopButton:hover {
            @include shadow();
        }
    }
}