
@import '../../master.scss';


$left-width: 30%;
$middle-width: 40%;
$right-width: 30%;


@mixin button-padding() {
    padding-left: $double-margin;
    padding-right: $double-margin;
    padding-top: $margin;
    padding-bottom: $margin;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    border: $border;
    cursor: pointer;
}

.HeaderGrid {
    width: 100%;
    height: $header-height;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: $left-width $middle-width $right-width;
    background-color: $dark-blue;
    background: $blue-gradient;
    color: white;

    .HeaderItem {
        @include flex-center();
        padding: $double-margin;
        flex-direction: column;
        .BackButton {
            @include button-padding();
            align-self: flex-start;
            
            #button-text {
                padding-left: $margin;
            }
        }
        .BackButton:hover{
            @include shadow();
        }
        .HeaderLogo {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            img {
                height: auto;
                width: 20pt;
                padding-right: $margin;
            }
            #title{
                font-size: $large-font;
            }
        }
        .StopButton {
            @include button-padding();
            align-self: flex-end;
            background-color: red;
        }
        .StopButton:hover{
            @include shadow();
        }
    }
}
