@import '../../master.scss';


$border-h: 2pt;

$hover-border-bottom: $border-h solid $dark-grey;
$invisible-border-bottom: $border-h solid transparent;
$green-border-bottom: $border-h solid $green;

$grey-border: 1pt solid $light-grey; 

$small-med-font-size: 1.2em;


.NavBarContainer {
    border-bottom: $grey-border;
    margin-right: $double-margin;
    margin-left: $double-margin;
    display: flex;
    align-items: stretch;
    color:$dark-blue;
    .NavBarItem {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: $double-margin;
        padding-left: $double-margin;
        padding-top: $margin;
        padding-bottom: $margin;
        cursor: pointer;
        border-bottom: $invisible-border-bottom;
        font-size: $small-med-font-size;

    }
    a {
        text-decoration: none;
        color:$dark-blue;
    }
    .NavBarItem:hover {
        border-bottom: $hover-border-bottom;
    }
    .selected {
        border-bottom: $green-border-bottom;
    }
    .selected:hover {
        border-bottom: $green-border-bottom;
    }
}
