 @import "../../master.scss";

 $jogger-diameter: 300pt;
 $content-height: $jogger-diameter * 7/3;
 $content-width: $jogger-diameter * 11/3;

 $container-height: $jogger-diameter * 10/4;
 $container-width: $jogger-diameter * 7/2;



 .TeachContainer {
     height: $container-height;
     width: $content-width;
     background-color: $off-white;
     margin-top: $margin * 8;
     border-radius: $border-radius;
     @include shadow();
     display: grid;
     color: $dark-blue;
     $ch: $container-height;
     grid-template-rows: $ch/10 $ch/12 auto $ch/12;

     .TeachModeHeader {
         display: grid;
         grid-template-rows: 100%;
         grid-template-columns: 50% 50%;
         background-color: $light-blue;
         border-radius: $border-radius $border-radius 0 0;

         .TeachModeTitle {
             width: 100%;
             height: 100%;
             color: $dark-blue;
             @include flex-center();
             justify-content: flex-start;
             padding-left: $margin * 2;

             span {
                 font-size: $huge-font;
                 font-weight: $bold-font;
             }
         }

         .TeachModeCompletion {
             width: 100%;
             height: 100%;
             display: grid;
             grid-template-rows: 50% 50%;
             grid-template-columns: 100%;


             .CompletionLabel {
                 @include flex-center();
                 justify-content: flex-end;
                 align-items: flex-end;
                 padding-right: $margin * 2;
                 font-size: $medium-font;
             }

             .CompletionDisplay {
                 width: 100%;
                 height: 100%;

                 @include flex-center();

                 justify-content: flex-end;
                 align-items: flex-start;

                 $bar-height: 10pt;

                 $bar-radius: $bar-height/2;

                 .CompletionBar {
                     margin-top: $margin;
                     margin-right: $margin * 2;
                     width: 50%;
                     height: $bar-height;
                     border-radius: $bar-radius;
                     background-color: $light-grey;

                     .CompletionFilled {
                         height: $bar-height;
                         border-radius: $bar-radius;
                         background-color: $green;


                     }
                 }
             }
         }
     }

     .TeachModeInstruction {
         @include flex-center();
         justify-content: flex-start;
         flex-direction: row;
         padding-left: $margin * 2;

         span {
             font-size: $huge-font;
             // font-variant: small-caps;
             font-weight: $bold-font;
         }

         .Instruction {
             font-weight: $normal-font;
             font-size: $large-font;
             padding-left: $margin;
         }
     }

     .TechModeContent {
         height: 100%;
         width: 100%;
     }

     .TeachModeBottom {
         color: $dark-blue;
         height: 100%;
         width: 100%;
         display: grid;
         grid-template-columns: 50% 50%;
         grid-template-rows: 100%;

         .Left {
             width: 100%;
             @include flex-center();
             justify-content: flex-start;

             .Button {
                 width: 20%;
                 height: 60%;
                 margin-left: $margin * 2;
                 border-radius: $border-radius;
                 border: 1pt solid $medium-blue;
             }

             .Button:hover {
                 background-color: $medium-blue;
                 color: white;
             }
         }

         .Right {
             width: 100%;
             @include flex-center();
             justify-content: flex-end;

             .Button {
                 width: 20%;
                 height: 60%;
                 border-radius: $border-radius;
                 color: white;
                 background-color: $dull-button;
                 margin-right: $margin * 2;
             }

             .ButtonEnabled {
                 width: 20%;
                 height: 60%;
                 border-radius: $border-radius;
                 color: white;
                 background-color: $medium-blue;
                 margin-right: $margin * 2;

             }
         }

         .Button {
             width: 20%;
             @include flex-center();
             font-size: $medium-font;
             cursor: pointer;
         }

         .ButtonEnabled {
             width: 20%;
             @include flex-center();
             font-size: $medium-font;
             cursor: pointer;
         }

         .ButtonEnabled:hover {
             background-color: $green;

         }


     }


     .TeachModeFooter {
         display: grid;
         grid-template-rows: 100%;
         grid-template-columns: 20% 60% 20%;


         .TeachButton {
             cursor: pointer;
             @include flex-center();
             padding: $margin;
             padding-left: $margin * 3;
             padding-right: $margin * 3;
             color: $light-grey;
             font-size: $medium-font;
         }

         .TeachButton:hover {
             color: $green;
         }

         .CurrentStepBar {
             @include flex-center();
             padding: $margin;

             .ProgressBar {
                 //  @include cshadow($dark-blue);
                 $pb-height: 30pt;
                 background-color: $light-grey;
                 width: 60%;
                 height: $pb-height;
                 border-radius: $pb-height/2;

                 .ProgressBarFilled {
                     height: $pb-height;
                     background-color: $green;
                     border-radius: $pb-height/2;
                     @include flex-center();
                 }

                 //                    @include white-shadow();
             }
         }
     }
 }

 //---------------Pick Location---------------
 @mixin jin-style($width, $fs) {
     input {
         border-radius: $border-radius;
         color: $dark-blue;
         border: $container-border;
         font-size: $fs;
         width: $width;
         //padding: $margin;
         // Testing this out.
         text-align: center;
     }
 }


 .PickLocation {
     display: grid;
     grid-template-rows: auto auto;
     grid-template-columns: auto;

     .PalletTitle {
         @include flex-center();
         padding: $margin;
         @include jin-style(40%, $medium-font);

         input {
             @include shadow();
         }
     }
 }

 .PickLocationGrid {
     height: 100%;
     width: 100%;
     display: grid;
     grid-template-rows: 100%;
     grid-template-columns: 50% 50%;

     .BoxConfigurator {
         height: 100%;
         width: 100%;


     }
 }



 .CoordinateDisplay {

     @include flex-center();
     flex-direction: row;
     justify-content: space-around;
     margin-left: $margin;
     margin-right: $margin;

     .Coordinate {
         width: 30%;
         height: 45%;
         @include flex-center();
         cursor: default;
         flex-direction: row;
         font-size: $medium-font;
         //border: 2pt solid $dark-grey;
         border-radius: $border-radius * 2;
         margin: $margin;
         background-color: $light-blue;
         color: $dark-blue;
         @include shadow();

         .Axis {
             font-weight: $medium-font;
             padding-right: $margin;
             font-weight: $bold-font;
         }

         .Value {}
     }
 }

 .PickLocationMap {

     display: grid;
     grid-template-rows: 75% 25%;
     grid-template-columns: 100%;

     .Map {
         @include flex-center();
         padding: $margin * 2;

         svg {
             $stroke: $dark-blue;
             width: 100%;
             height: 100%;

             rect {
                 width: 100%;
                 fill: none;
                 stroke: $light-grey;
                 stroke-width: 3;
             }

             circle {
                 fill: none;
                 stroke: $stroke;
                 stroke-width: 2;
             }

             line {
                 stroke: $stroke;
                 stroke-width: 2;
             }

         }
     }
 }



 //---------------Box Size---------------

 .BoxContentGrid {
     display: grid;
     grid-template-rows: 10% 90%;
     grid-template-columns: 100%;

     ate-columns: 100%;

     .BoxName {}

     .BoxSizeGrid {
         height: 100%;
         display: grid;
         grid-template-rows: 80% 20%;
         grid-template-columns: 100%;

         .BoxDisplay {
             .BoxMount {
                 height: 100%;
                 width: 100%;
                 background-color: white;

                 canvas {
                     height: 100%;
                     // width: 100%;
                 }
             }

             @include flex-center();
         }

         .BoxSizeContainer {
             @include flex-center();


             .BoxSizeInputContainer {
                 padding: $margin;
                 @include flex-center();
                 flex-direction: row;
                 justify-content: space-around;
                 width: 80%;

                 .BoxSizeInput {
                     background-color: $light-blue;
                     padding: $margin;
                     color: $dark-blue;
                     width: 30%;
                     height: 35%;
                     border-radius: $border-radius;
                     @include flex-center();

                     flex-direction: row;
                     justify-content: space-around;

                     @include shadow();

                     span {
                         font-size: $medium-font;
                         white-space: nowrap;
                     }

                     .InputHolder {
                         width: auto;
                         @include flex-center();
                         @include jin-style(50%, $medium-font);

                         //	 padding: none;
                         input {
                             text-align: center;
                             padding: none;
                             padding-left: $margin;

                         }

                     }
                 }
             }
         }
     }
 }

 //---------------Pallet Corners---------------

 .PalletDisplay {
     display: grid;
     grid-template-rows: 100%;
     grid-template-columns: 100%;
     background-color: red;

     .PalletMount {
         height: 100%;
         width: 100%;
         @include flex-center();

         canvas {

             // height: 735px;
             // width: 100%;

             // width: 100%;
         }
     }
 }



 .BoxContent {
     display: grid;
     grid-template-rows: 10% 90%;
     grid-template-columns: 100%;

     .ConfigurationName {
         width: 100%;
         height: 100%;
         @include flex-center();

         .NameHolder {
             height: 100%;
             width: 100%;
             @include flex-center();
             margin-top: 40%;
             flex-direction: column;
             justify-content: flex-start;
             @include jin-style(50%, 2em);

             input {
                 //margin-top: 30%;
                 padding: $margin;
                 @include shadow();
             }
         }

     }


     .BoxSizeGrid {
         height: 100%;
         display: grid;
         grid-template-rows: 80% 20%;
         grid-template-columns: 100%;

         .BoxDisplay {
             .BoxMount {
                 height: 100%;
                 width: 100%;
                 background-color: white;

                 canvas {
                     height: 100%;
                     // width: 100%;
                 }
             }

             @include flex-center();
         }

         .BoxSizeContainer {
             @include flex-center();


             .BoxSizeInputContainer {
                 padding: $margin;
                 @include flex-center();
                 flex-direction: row;
                 justify-content: space-around;
                 width: 80%;

                 .BoxSizeInput {
                     background-color: $light-blue;
                     padding: $margin;
                     color: $dark-blue;
                     width: 30%;
                     height: 35%;
                     border-radius: $border-radius;
                     @include flex-center();

                     flex-direction: row;
                     justify-content: space-around;

                     @include shadow();

                     span {
                         font-size: $medium-font;
                         white-space: nowrap;
                     }

                     .InputHolder {
                         width: auto;
                         @include flex-center();
                         @include jin-style(50%, $medium-font);

                         //	 padding: none;
                         input {
                             text-align: center;
                             padding: none;
                             padding-left: $margin;

                         }

                     }
                 }
             }
         }
     }
 }

 //---------------Pallet Corners---------------

 .PalletDisplay {
     display: grid;
     grid-template-rows: 5% 95%;

     .PalletDisplayHeader {
         display: grid;
         grid-template-rows: 100%;
         grid-template-columns: 15% 70% 15%;

         .CornerBackButton {
             @include flex-center();
             justify-content: flex-start;

             .BackButton {
                 padding-left: $margin;
                 cursor: pointer;

                 span {
                     font-size: $medium-font;
                     //color: $light-grey;
                 }
             }

             .BackButton:hover {
                 span {
                     color: $green;
                 }
             }
         }

         .CenterText {
             @include flex-center();

             span {
                 font-size: $large-font;
                 font-weight: $bold-font;
                 letter-spacing: 2pt;
                 //  font-variant: small-caps;
             }
         }
     }

     .DisplayContainer {
         .PalletMount {
             width: 100%;
             height: 100%;

             canvas {
                 height: 100%;
                 width: 100%;

                 // width: 100%;
             }
         }
     }

 }


 .ConfigurationName {
     width: 100%;
     height: 100%;
     @include flex-center();

     .NameHolder {
         height: 100%;
         width: 100%;
         @include flex-center();
         margin-top: 40%;
         flex-direction: column;
         justify-content: flex-start;
         @include jin-style(50%, 2em);

         input {
             //margin-top: 30%;
             padding: $margin;
             @include shadow();
         }
     }

 }