@import "../../master.scss";




.TeachModeContainer {
    @include shadow();
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: $quad-margin;
    margin-bottom: auto;
    width: 50%;
    background-color: $off-white;
    border-radius: $border-radius;
    min-height: 50%;
    color: $dark-blue;

    .TeachModeHeader {
	.StatusBar {
	    background-color: $light-blue;
	    display: grid;
	    grid-template-rows: 100%;
	    grid-template-columns: 50% 50%;
	    padding: $double-margin;
	    border-radius: $border-radius $border-radius 0 0;
	    .StatusBarTitle {
		@include flex-center();
		justify-content: flex-start;
		span {
		    font-size: $medium-font;
		    font-weight: $bold-font;
		}
	    }
	    .CurrentStepBar {
		@include flex-center();
		padding: $margin;
		.ProgressBar {
		    $pb-height: 25pt;
		    background-color: $light-grey;
		    width: 100%;
		    height: $pb-height;
		    border-radius: $pb-height/2;
		    .ProgressBarFilled {
			height: $pb-height;
			background-color: $green;
			border-radius: $pb-height/2;
			@include flex-center();
		    }
		}
	    }
	}

	.DescriptionLine {
	    @include flex-center;
	    justify-content: flex-start;
	    span {
		padding-left: $margin;
	    }

	}
	
    }
}


.PickLocationGrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;   
}



$jogger-diameter: 300pt;

.JoggerContainer {
    @include flex-center();
    width: 100%;
    height:100%;
    
    .JoggerContainerInner {

	@include flex-center();
	width: 100%;
	min-width: 300px;
	height: calc({#width} / 2);
	padding: $margin;
	
	// This holds the raising and lower operators a and a-dagger.

	.JoggerCircle {
	    height: $jogger-diameter;
	    width: $jogger-diameter;
	    border-radius: $jogger-diameter/2;
	    background-color: $light-blue;
	    display: grid;
	    grid-template-rows: 33.3% 33.3% 33.3%;
	    grid-template-columns: 33.3% 33.3% 33.3%;

	    @include shadow();
	    @mixin arrow-image() {
		cursor: pointer;
		:hover{
		    transform: scale(1.1);
//			filter: blur(3px);
		//	-webkit-filter : blur(3px);
		//	box-shadow: 0 0 10px 10px rgba(0, 140, 186, 0.5);
		    }

		img {
		
		}
	    }

	    // For Center Jog Increment

	    .JogIncrement {
		@include grid-coordinate(2,2);
		@include flex-center();
		input {
		    font-size: 1em;
		    width: 60pt;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    margin: 0;
		}
		span {
		    padding-left: $margin;
		    font-size : 1em;
		}
		
				
	    }

	    .SelectPointButton {


	    }
	    
	    
	    .Up {
		@include arrow-image();
		@include flex-center();
		@include grid-coordinate(1,2);
	    }

	    .Down {
		@include arrow-image();
		@include flex-center();
		@include grid-coordinate(3,2);
	    }

	    .Left {
		@include arrow-image();
		@include flex-center();
		@include grid-coordinate(2,1);
	    }

	    .Right {
		@include arrow-image();
		@include flex-center();
		@include grid-coordinate(2,3);
	    }
	    
	}
    }
}
