@import "../../master.scss";

$jogger-diameter: 300pt;
$content-height: $jogger-diameter * 7/3;
$content-width: $jogger-diameter * 11/3;

$container-height: $jogger-diameter * 3;


.TeachModeContainer {
    @include shadow();
    display: grid;
    height: $container-height;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    
//    display: flex;
  //  align-content: center;
    //justify-content: flex-start;
   // flex-direction: column;
    margin-top: $quad-margin;
    margin-bottom: auto;
    //min-width: 50%;
    width: $content-width;
    background-color: $off-white;
    border-radius: $border-radius;
    color: $dark-blue;

    .TeachModeFooter{
	@include flex-center();
	justify-content: space-between;
//	margin: $margin;
	margin-left: $margin * 2;
	margin-right: $margin * 2;
	margin-bottom: $margin * 2;
	.TeachButton {
	    cursor: pointer;
	    @include flex-center();
	    padding: $margin;
	    padding-left: $margin * 3;
	    
	    color: $light-grey;
	    font-size: $medium-font;
	    
	}
	.TeachButton:hover {
	    color: $green;
	}
    }

    .TeachModeHeader {
        .StatusBar {
            background: $blue-gradient;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 50% 50%;
            padding: $double-margin;
            border-radius: $border-radius $border-radius 0 0;
            color: white;

            .StatusBarTitle {
                @include flex-center();
                justify-content: flex-start;
                span {
                    font-size: $medium-font;
                    font-weight: $bold-font;
                }
            }

            .CurrentStepBar {
                @include flex-center();
                padding: $margin;

                .ProgressBar {
                    $pb-height: 30pt;
                    background-color: $off-white;
                    width: 100%;
                    height: $pb-height;
                    border-radius: $pb-height/2;

                    .ProgressBarFilled {
                        height: $pb-height;
                        background-color: $green;
                        border-radius: $pb-height/2;
                        @include flex-center();
                    }

                    @include white-shadow();
                }
            }
        }
    }

    .InstructionLine {
        @include flex-center;
        //justify-content: flex-start;
        padding: $margin;

        span {
            padding-left: $margin;
            font-size: $medium-font;
        }
    }
}

.PickLocationGrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
}

@mixin jin-style($width, $fs) {
    input {
        border-radius: $border-radius;
        color: $dark-blue;
        border: $container-border;
        font-size: $fs;
        width: $width;
        padding: $margin;
	// Testing this out.
	text-align: center;
    }
}

.JoggerContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto $jogger-diameter*(5/3);
    .JoggerInformation {
        margin: $margin;

        .PalletName {
            @include flex-center();
            padding: $margin;
            @include jin-style(80%, $medium-font);

            input {
                @include shadow();
            }
        }

        .MoveItemContainer {
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 50% 50%;

            .MoveItem {
                padding-top: $margin;
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: 100%;

                .MoveTitle {
                    @include flex-center();

                    span {
                        font-size: $medium-font;
                    }
                }

                .MoveInput {
                    @include flex-center();
                    padding: $margin;

                    .InputContainer {
                        width: 60%;
                        @include flex-center();
                        @include jin-style(70%, 1em);
                    }

                    font-size: $medium-font;

                    .UnitContainer {
                        width: 40%;
                        @include flex-center();
                        justify-content: flex-start;
                    }
                }
            }
        }
    }

    .JoggerCentering {
        height: 100%;
        width: 100%;

        @include flex-center();


        .JoggerContainerInner {
            width: 100%;
            min-width: $jogger-diameter;
            height: $jogger-diameter * (4/3);
            padding: $margin;
            display: grid;
            grid-template-rows: $jogger-diameter/6 $jogger-diameter $jogger-diameter/6;
            grid-template-columns: 100%;

            // Raising and lower operators.
            .JoggerRaiseLower {
                cursor: pointer;
                @include flex-center();

                svg {
                    #ArrowLine {
                        stroke: $light-grey;
                    }

                    #ArrowText {
                        fill: none;
                    }
                }
            }

            .JoggerRaiseLower:hover {
                svg {
                    transform: scale(1.1);

                    #ArrowLine {
                        stroke: $dark-blue;
                    }

                    #ArrowText {
                        fill: $dark-blue;
                    }
                }
            }

            .JoggerCircleContainer {
                @include flex-center();

                .JoggerCircle {
                    height: $jogger-diameter;
                    width: $jogger-diameter;
                    border-radius: $jogger-diameter/2;
                    background-color: $light-blue;
                    display: grid;
                    grid-template-rows: 33.3% 33.3% 33.3%;
                    grid-template-columns: 33.3% 33.3% 33.3%;

                    @include shadow();

                    @mixin arrow-image() {
                        cursor: pointer;

                        :hover {
                            transform: scale(1.1);
                            //			filter: blur(3px);
                            //	-webkit-filter : blur(3px);
                            //	box-shadow: 0 0 10px 10px rgba(0, 140, 186, 0.5);
                        }

                        img {}
                    }

                    // For Center Jog Increment

                    .JogIncrement {
                        @include grid-coordinate(2, 2);
                        @include flex-center();

                        input {
                            font-size: 1em;
                            width: 60pt;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            margin: 0;
                        }

                        span {
                            padding-left: $margin;
                            font-size: 1em;
                        }


                    }

                    .SelectPointButton {
                        @include flex-center();
                        @include grid-coordinate(2, 2);
                        $select-diameter: 80pt;

                        .SelectButton {
                            cursor: pointer;
                            @include flex-center();
                            height: $select-diameter;
                            width: $select-diameter;
                            border-radius: $select-diameter/2;
                            background-color: $green;
                            color: $dark-blue;
                        }

                        .SelectButton:hover {
                            color: white;
                            @include shadow();

                        }
                    }


                    .Up {
                        @include arrow-image();
                        @include flex-center();
                        @include grid-coordinate(1, 2);
                    }

                    .Down {
                        @include arrow-image();
                        @include flex-center();
                        @include grid-coordinate(3, 2);
                    }

                    .Left {
                        @include arrow-image();
                        @include flex-center();
                        @include grid-coordinate(2, 1);
                    }

                    .Right {
                        @include arrow-image();
                        @include flex-center();
                        @include grid-coordinate(2, 3);
                    }
                }
            }
        }
    }
}

.CoordinateDisplay {
    margin: $margin;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;


    .Coordinate {
        @include flex-center();
        cursor: default;
        flex-direction: row;
        font-size: $large-font;
        //border: 2pt solid $dark-grey;
        border-radius: $border-radius * 2;
        margin: $margin;
        background: $blue-gradient;
        color: white;
        @include shadow();

        .Axis {
            font-weight: $bold-font;
            padding-right: $margin;
        }

        .Value {}
    }
}

.PickLocationMap {

    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 100%;

    .Map {
        @include flex-center();
        padding: $margin * 2;

        svg {
            $stroke: $dark-blue;
            width: 100%;
            height: 100%;


            rect {
                width: 100%;
                fill: none;
                stroke: $light-grey;
                stroke-width: 3;
            }

            circle {
                fill: none;
                stroke: $stroke;
                stroke-width: 2;
            }

            line {
                stroke: $stroke;
                stroke-width: 2;
            }

        }
    }
}



//---------------Box Size---------------
.BoxSizeGrid {
    //height: $content-height;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
    .BoxSizeInputContainer {
	//width: 100%;
       // height: 100%;
	padding: $margin;
        @include flex-center();
        flex-direction: row;
        justify-content: space-around;
	//padding: $margin;
        .BoxSizeInput {
            //border: $blue-border;
	    //background: $blue-gradient;
	    background-color: $dark-blue;;
            padding: $margin;
	    color: white;
	    width: 30%;
	    border-radius: $border-radius;
	    @include shadow();
	    span {
		font-size: $medium-font;
	    }
	    
            @include flex-center();
            justify-content: space-around;
	    
            .NameContainer {
		@include flex-center();
                span {                    
                }
            }
            .InputHolder {
		width: 50%;
                display: grid;
                grid-template-rows: 100%;
                grid-template-columns: 60% 40%;
                padding-left: $margin;
                @include jin-style(80%, $medium-font);
		input {
		    text-align: center;
		}
		span{
		    padding-left: $margin;
		}
            }
        }
    }
}
