
@import "../../master.scss";



.Visualizer {
    
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // min-height: 70vh;
    background-color: white;
    canvas {
        height: 100%;
        width: 100%;
    }
}
