@import "../../../master.scss";
@import "../../css/TeachMode.scss";



.BoxSummary {
    width: 100%;
    height: 100%;
    @include flex-center();

    .BoxScrollContainer {
        //padding: $margin * 2;
        height: 100%;
        width: 100%;
        //  margin: $margin * 2;

        .BoxScroll {
            margin: 1%;
            width: 98%;
            height: 96%;
            max-height: $container-height * 8/10;
            overflow: scroll;

            .BoxCellContainer {
                padding: 1%;
                width: 98%;
                height: $container-height / 8;

                @include flex-center();

                .NewBoxCell {
                    cursor: pointer;
                    width: 96%;
                    height: 100%;
                    border: $container-border;
                    border-radius: $border-radius;
                    @include shadow();
                    display: grid;
                    grid-template-columns: 20% 60% 30%;

                    .BoxName {
                        width: 100%;
                        @include flex-center();
                        justify-content: flex-start;

                        span {
                            color: $dark-blue;
                            font-size: 2em;
                        }
                    }

                    .Icon {
                        padding: $margin;
                        padding-left: 3%;
                        @include flex-center();

                        svg {
                            line {
                                stroke: $dark-blue;
                                stroke-width: 4pt;
                            }
                        }
                    }
                }

                .NewBoxCell:hover {
                    @include size-shadow(15px);

                    span {
                        color: $green;
                    }

                    .Icon {
                        svg {
                            line {
                                stroke: $green;
                            }
                        }
                    }
                }

                .BoxCell {
                    cursor: pointer;
                    width: 96%;
                    height: 100%;
                    border: $container-border;
                    border-radius: $border-radius;
                    @include shadow();

                    justify-content: flex-start;

                    display: grid;
                    grid-template-rows: 100%;
                    grid-template-columns: 20% 42% 38%;

                    .MiniRender {
                        @include flex-center();

                        img {
                            width: 50%;
                            height: auto;
                        }

                        .BoxMount {
                            height: 100%;
                            width: 50%;
                            background-color: white;

                            canvas {
                                height: 100%;
                                // width: 100%;
                            }
                        }
                    }

                    .BoxDetails {
                        display: grid;
                        grid-template-rows: 50% 50%;
                        grid-template-columns: 100%;

                        .BoxName {
                            @include flex-center();
                            justify-content: flex-start;

                            span {
                                font-size: 2em;
                            }

                            @include jin-style(80%, 2em);

                            input {
                                text-align: left;
                                padding-left: $margin;
                            }

                        }

                        .BoxDimensions {
                            display: grid;
                            grid-template-rows: 100%;
                            grid-template-columns: 33% 33% 33%;

                            .DimensionCell {
                                @include flex-center();
                                justify-content: flex-start;
                                color: $dark-blue;
                                //                                justify-content: space-around;

                                span {
                                    font-size: $medium-font;
                                    padding-right: $margin;
                                }

                                @include jin-style(50%, 1.5em);

                                input {
                                    text-align: left;
                                    padding-left: $margin;
                                }
                            }
                        }
                    }

                    .Buttons {
                        display: grid;
                        grid-template-rows: 100%;
                        grid-template-columns: 70% 30%;
                        color: white;

                        .SingleEditButton {
                            @include flex-center();

                            .Button {
                                @include flex-center();

                                span {
                                    font-size: $large-font;
                                }
                            }

                        }

                        .SingleEditButton:hover {
                            .Button {
                                background-color: $green;
                                @include shadow();
                            }
                        }

                        .EditButton {
                            display: grid;
                            grid-template-rows: 50% 50%;
                            grid-template-columns: 100%;

                            .ButtonContainer {
                                padding-top: $margin;
                                @include flex-center();
                                flex-direction: column;
                                justify-content: flex-start;

                                .Button {
                                    @include flex-center();

                                    span {
                                        font-size: $large-font;
                                    }
                                }

                            }




                            .PickLocation {
                                color: $dark-blue;
                                display: grid;
                                grid-template-rows: 100%;
                                grid-template-columns: 33% 33% 33%;

                                .Location {
                                    @include flex-center();

                                    span {
                                        font-size: 1.5em;

                                    }
                                }
                            }
                        }

                        .EditButton:hover {
                            // color: $green;

                            .Button {
                                @include shadow();
                                background-color: $green;
                            }
                        }

                        .DeleteButton {
                            @include flex-center();

                            span {
                                font-size: $large-font;
                            }

                            svg {
                                line {
                                    stroke: red;
                                    stroke-width: 4;
                                }
                            }

                        }

                        .DeleteButton:hover {
                            color: red;

                            .Button {
                                @include shadow();
                            }

                            svg {
                                line {
                                    stroke: red;
                                    stroke-width: 5;

                                }
                            }
                        }


                        .Button {
                            //			    width: 50%;
                            width: 70%;
                            @include flex-center();
                            padding: $margin;
                            //height: 70%;
                            background-color: $medium-blue;
                            border-radius: $border-radius;
                        }


                    }
                }
            }
        }

        ::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }
    }
}





.NewBoxGrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;

    .BoxName {
        @include flex-center();
        height: 100%;
        width: 100%;
        @include jin-style(50%, 1.5em);
        border-bottom: $container-border;

        input {
            padding: $margin;
        }
    }

    .BoxSetup {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 50% 50%;

        .BoxConfigurator {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-rows: 80% 20%;
            grid-template-columns: 100%;

            .BoxDisplayRender {
                margin-top: 1%;
                height: 100%;
                width: 100%;
            }

            .CoordinateDisplay {

                height: 100%;
                width: 100%;

                display: grid;
                grid-template-rows: 100%;
                grid-template-columns: 33% 33% 33%;

                .CoordinateItem {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-rows: 100%;
                    grid-template-columns: 50% 50%;
                }

                .CoordinateName {
                    @include flex-center();
                }

                .CoordinateInput {
                    @include flex-center();
                    @include jin-style(50%, 1em);
                }

            }
        }
    }
}