@import "../../../master.scss";
@import "../../css/TeachMode.scss";



.BoxSummary {
    width: 100%;
    height: 100%;
    @include flex-center();

    .BoxScrollContainer {
        //padding: $margin * 2;
        height: 100%;
        width: 100%;
        //  margin: $margin * 2;

        .BoxScroll {
            margin: 1%;
            width: 98%;
            height: 96%;
            max-height: $container-height * 8/10;
            overflow: scroll;

            .NewBox {
                padding-top: 1%;
                //width: 99%;
                padding-left: 1%;
                padding-right: 5%;
                @include flex-center();
                height: $container-height / 14;
                justify-content: flex-end;

                .NewBoxButton {
                    @include flex-center();
                    cursor: pointer;
                    flex-direction: row;
                    border-radius: $border-radius;
                    background-color: $medium-blue;
                    color: white;
                    font-size: $large-font;
                    height: 80%;
                    width: 15%;

                    svg {
                        line {
                            stroke: white;
                            stroke-width: 2;
                        }
                    }

                    span {
                        padding-left: $margin;
                    }
                }

                .NewBoxButton:hover {
                    @include shadow();
                    background-color: $green;
                }
            }

            .BoxCellContainer {
                padding-top: 1%;
                padding-left: 1%;
                width: 99%;
                height: $container-height / 7;
                display: grid;
                grid-template-rows: 100%;
                grid-template-columns: 96% 4%;

                .Trash {
                    @include flex-center();

                    span {
                        cursor: pointer;
                        font-size: $large-font;
                        color: $red;
                    }

                    span:hover {
                        font-weight: $bold-font;
                    }

                }


                .BoxCell {
                    cursor: pointer;
                    width: 99%;
                    height: 100%;
                    border: $container-border;
                    border-radius: $border-radius;
                    background-color: $desert-storm;
                    justify-content: flex-start;

                    display: grid;
                    grid-template-rows: 100%;
                    grid-template-columns: 12% 30% 25% 33%;

                    .MiniRender {
                        @include flex-center();
                        height: 100%;
                        width: 100%;

                        .BoxMount {
                            height: 100%;
                            width: 100%;
                            @include flex-center();

                            canvas {
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }

                    .Name {
                        @include flex-center();

                        input {
                            padding: $margin;
                            font-size: $large-font;
                            color: $dark-blue;
                            width: 80%;
                        }
                    }

                    .Dimensions {
                        @include flex-center();

                        .DimensionsGrid {
                            width: 90%;
                            height: 40%;
                            display: grid;
                            grid-template-rows: 100%;
                            grid-template-columns: 33% 33% 33%;
                            border-radius: $border-radius;
                            border: $container-border;

                            .Dimension {
                                @include flex-center();
                                font-size: $medium-font;
                            }
                        }

                        .DimensionsGrid2 {
                            width: 90%;
                            height: 40%;
                            display: grid;
                            grid-template-rows: 100%;
                            grid-template-columns: 50% 50%;
                            border-radius: $border-radius;
                            border: $container-border;

                            .Dimension {
                                @include flex-center();
                                font-size: $medium-font;
                            }
                        }
                    }

                    .Edit {
                        @include flex-center();
                        justify-content: flex-end;
                        padding-right: 10%;

                        .EditButton {
                            width: 40%;
                            height: 40%;
                            @include flex-center();

                            border-radius: $border-radius;
                            background-color: $medium-blue;
                            color: white;
                            font-size: $large-font;
                            // font-weight: $bold-font;
                        }

                        .EditButton:hover {
                            @include shadow();
                            background-color: $green;
                        }
                    }
                }
            }
        }

        ::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }
    }
}





.NewBoxGrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;

    .BoxName {
        @include flex-center();
        height: 100%;
        width: 100%;
        @include jin-style(50%, 1.5em);
        border-bottom: $container-border;

        input {
            padding: $margin;
        }
    }

    .BoxSetup {
        height: 100%;
        width: 99%;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 50% 50%;

        .BoxConfigurator {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-rows: 80% 20%;
            grid-template-columns: 100%;
            border: $container-border;
            border-radius: $border-radius;
            background-color: $desert-storm;


            .BoxDisplayRender {
                margin-top: 1%;
                height: 100%;
                width: 100%;
            }

            .CoordinateDisplay {

                height: 100%;
                width: 100%;
                display: grid;
                grid-template-rows: 100%;
                grid-template-columns: 33% 33% 33%;

                .CoordinateItem {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-rows: 30% 70%;
                    grid-template-columns: 100%;
                }

                .CoordinateName {
                    @include flex-center();
                    font-size: $medium-font;

                    span {
                        font-weight: $bold-font;
                    }

                    .Unit {
                        font-weight: $normal-font;
                    }
                }

                .CoordinateInput {
                    @include flex-center();

                    align-items: flex-start;
                    padding-top: $margin;

                    input {
                        font-size: $medium-font;
                        padding: $margin;
                        text-align: center;
                        width: 40%;
                    }

                }

            }
        }
    }
}