 @import "../../../master.scss";
 //@import "../../css/TeachMode.scss";



 @mixin jin-style($width, $fs) {
     input {
         border-radius: $border-radius;
         color: $dark-blue;
         border: $container-border;
         font-size: $fs;
         width: $width;
         //padding: $margin;
         // Testing this out.
         text-align: center;
     }
 }

 .CornerGrid {
     height: 100%;
     width: 100%;
     display: grid;
     grid-template-rows: 100%;
     grid-template-columns: 100%;

     .PalletName {
         @include flex-center();
         @include jin-style(50%, 2em);
     }
 }


 .SubInstruction {
     @include flex-center();

     span {
         font-size: 2em;
         font-weight: $bold-font;
     }
 }

 .PalletContainer {
     display: grid;
     grid-template-rows: 100%;
     grid-template-columns: 100%;

     .PalletMount {
         height: 100%;
         width: 100%;
         @include flex-center();

         svg {}

         canvas {
             height: 100%;
             width: 100%;
             // height: 735px;
             // width: 100%;

             // width: 100%;
         }
     }
 }