@import "../../../master.scss";
@import "../../css/TeachMode.scss";


.LayoutContainer {
    display: grid;
    grid-template-rows: 10% auto;
    grid-template-columns: 30% 70%;
    // Left Side : Box Scroll;
    .LayoutName {
        @include stretch-grid-col(1, 1, 2);
        @include flex-center();
	border-bottom: $container-border;
        .NameHolder {
            @include flex-center();
            width: 70%;
            flex-direction: column;
            justify-content: flex-start;
            @include jin-style(50%, 1.5em);
            input {
                //margin-top: 30%;
                padding: $margin;
                @include shadow();
            }
        }
    }
    
    .BoxScrollContainer {
        height: 100%;
        width: 100%;
        @include flex-center();
        .BoxScroll {
            margin: 1%;
            width: 98%;
            height: 96%;
            max-height: $container-height * 7.3/10;
            overflow: scroll;
            .BoxCellContainer {
                padding: 1%;
                width: 98%;
		padding-top: 2%;
                height: $container-height / 9;
                @include flex-center();
                .BoxCell {
                    cursor: pointer;
                    width: 96%;
                    height: 100%;
                    border: $container-border;
                    border-radius: $border-radius;
                    @include size-shadow(5pt);
                    justify-content: flex-start;
                    display: grid;
                    grid-template-rows: 100%;
                    grid-template-columns: 30% 70%;
		    background-color: clear;
                    .BoxImage {
			@include flex-center();
		    }

                    .BoxDetails {
                        display: grid;
                        grid-template-rows: 50% 50%;
                        grid-template-columns: 100%;
                        .BoxName {
                            @include flex-center();
                            justify-content: flex-start;
                            align-items: flex-end;
                            span {
                                font-size: 2em;
                            }
                        }

                        .BoxDimensions {
                            display: grid;
                            grid-template-rows: 100%;
                            grid-template-columns: 33% 33% 33%;
                            .DimensionCell {
                                @include flex-center();
                                justify-content: flex-start;
				align-items: flex-start;
                                span {
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }
            }
        }

        // ::-webkit-scrollbar {
        //     width: 0px;
        //     background: transparent;
        // }

    }

    .LayoutModel {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 10% auto;
	grid-template-columns: 100%;
	.LayoutDropDown {
	    width: 100%;
	    @include flex-center();
	    select {
		padding: $margin;
		width: 50%;
		font-size: 1.5em;
		background-color: $light-grey;
		color: $dark-blue;
		
	    }
	    
	}
	.LayoutDisplay {
	    width: 100%;
	    @include flex-center();
	    


	}
    }
}
