@import "../../../master.scss";


$name-height: 300pt;

.TeachModeNameStart {
    height: 250pt;
    width: 500pt;
    margin-top: $name-height;
    background-color: $off-white;
    border-radius: $border-radius;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 100%;

    .ClosePartition {
        @include flex-center();
        justify-content: flex-end;
        padding-right: $margin;

        svg {
            cursor: pointer;

            line {
                stroke: $light-grey;
                stroke-width: 4;
            }
        }

        svg:hover {

            line {
                stroke: $red;
            }
        }
    }

    .ContentPartition {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 30% 30% 40%;
        grid-template-columns: 100%;

        .Instruction {
            @include flex-center();
            font-size: $large-font;
            font-weight: $bold-font;
            color: $dark-blue;
        }

        .NameInput {
            @include flex-center();
            //  align-items: flex-start;

            input {
                padding: $margin;
                width: 70%;
                font-size: $large-font;
                text-align: center;
            }
        }

        .StartConfigButton {
            @include flex-center();

            .StartButton {
                @include flex-center();
                cursor: pointer;
                border-radius: $border-radius;
                background-color: $medium-blue;
                width: 40%;
                height: 60%;
                font-size: $large-font;
                //font-weight: $bold-font;
                color: white;

                span {
                    @include unselectable();
                }
            }

            .StartButton:hover {
                @include shadow();
                background-color: $green;
            }
        }

    }
}