 @import "../../../master.scss";
 //@import "../../css/TeachMode.scss";



 @mixin jin-style($width, $fs) {
     input {
         border-radius: $border-radius;
         color: $dark-blue;
         border: $container-border;
         font-size: $fs;
         width: $width;
         //padding: $margin;
         // Testing this out.
         text-align: center;
     }
 }

 .CornerGrid {
     height: 100%;
     width: 100%;
     display: grid;
     grid-template-rows: 100%;
     grid-template-columns: 100%;

     .PalletName {
         @include flex-center();
         @include jin-style(50%, 2em);
     }
 }


 .SubInstruction {
     @include flex-center();

     span {
         font-size: 2em;
         font-weight: $bold-font;
     }
 }

 .PalletContainer {
     @include flex-center();

     .PalletMount {
         height: 95%;
         width: 95%;
         border-radius: $border-radius;
         background-color: $light-blue;
         border: $container-border;
         @include flex-center();
     }
 }